{% extends 'base.html' %}
{% load static %}
{% block context %}

<form method="POST">
  {% csrf_token %}
<div class="mb-3">
  <label class="form-label">username</label>
  <input type="text" class="form-control" name="u" placeholder="enter username">
</div>
<div class="mb-3">
  <label class="form-label">password</label>
  <input type="password" class="form-control" name="p" placeholder="enter password">
</div>
<div class="mb-3">
  <label class="form-label">confirm password</label>
  <input type="password" class="form-control" name="cp" placeholder="confirm password">
</div>

<div class="mb-3">
  <label class="form-label">email</label>
  <input type="email" class="form-control" name="e" placeholder="enter email">
</div>

<div class="mb-3">
    <input type="submit" >
</div>

</form>
{% endblock %}
